* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
}

.header,
.content-1,
.content-2,
.content-3,
.content-4 {
    padding: 30px 200px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

a,
.second-text,
.second-contact,
.footer-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 200px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}

button.signup-main {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.main {
    height: 255px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    height: 255px;
    width: 500px;
}

.content-1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
}

#rcorner {
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 150px;
    height: 150px;
}

.illust-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 270px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

quote {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

p.credit {
    font-size: 26px;
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}

.content-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.content-4 {
    padding: 70px 200px;
}

.sign-up {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 20px 70px;
}

.sign-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

button.signup-contact {
    background: #3882F6;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}

.buttons .signup-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contact {
    font-size: 26px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}